<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publication Training App</title>
</head>
<body>
    <center>
        <h1>Publication Training App</h1>
        <h2>Stats</h2>
        <p>Number of classified: {{ result['numClassified'] }}</p>
        <p>Number of tools: {{ result['numTools'] }}</p>
        <p>Number of nontools: {{ result['numNontools'] }}</p>
        <p>Total of publications: {{ result['total'] }}</p>
        <h3><a href="/classify/random">Start Classifying</a></h3>
        <h3><a href="/data">Get Data</a></h3>
    </center>
</body>
</html>